#box1,#box2,#box3
{
  height: 600px;
  width:300px;
}


.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
}  

.drag
{
  margin-top: 20px;
  border: 3px solid green;
}