html
{
  background-color: rgb(241, 255, 242);
  padding: 0px;
  margin: 0px;
}

th
{
  border: 3px solid black;
  border-collapse: collapse;
  width: 10%;
  height: auto;
  border-radius: 20px;
  background-color: rgb(127, 153, 255);
  vertical-align: text-top;
  padding-bottom: 10px;
  padding-top: 30px;
}

.table{
  border: 3px solid black;
  border-radius: 25px;
  background-color: rgb(74, 101, 210);
  height: 300px;
  margin: 0 auto;
  margin-top: 0px;
}

#box1
{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#box2
{
  border-radius: 0px;
}

#box3
{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#header1
{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#header2
{
  border-radius: 0px;
}

#header3
{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}



[draggable] {
  font-size: 15px;
  padding-top: 0px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 6px solid rgb(74, 101, 210);
  background-color: rgb(200, 232, 255);
  color: rgb(0, 0, 0);
  word-wrap: break-word;
  
  border-radius: 10px;
  width: 50%;
  height: auto;
  text-align: left;
  padding: 5px;
  padding-left: 25px;

  transition: transform 0.2s ease-in-out;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}

[draggable]:hover{

  cursor: grab;
}

[draggable]:active {
  transform: scale(1.1); /* Optional visual effect when the element is being dragged */
  opacity: 0.3;
  cursor: grabbing;
}

.addButton
{
  font-size: 20px;
  border: 6px solid rgb(74, 101, 210);
  background-color: rgb(200, 232, 255);
  color: black;
  border-radius: 5px;
  cursor:pointer;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

[dragging]
{
  cursor: grabbing;
}



td{
  margin: 0 auto;
  height: 30px;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(127, 153, 255);
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: larger;
}

.addForm{
  margin-top: 10px;
  padding: 7px;
  height:20%;
  border: 4px solid rgb(0, 0, 0);
  background-color: rgb(127, 153, 255);
  border-radius: 20px;
  
  width:15%;
  color: white;
  font-size: larger;
}

.textInput {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid rgb(74, 101, 210);
	background-color: rgb(211, 219, 250);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: rgb(0, 0, 0);
  margin-top: 2%;
  margin-bottom: 2%;
  width:70%;
  box-shadow: 3px 3px rgba(0,0,0,0.5);
  margin-left: 10%;
  height: 10%;
}


.radiobutton
{
    margin-top: 10px;
    margin-left: 1.5%;
}

.radiobutton:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(211, 219, 250);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.radiobutton:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(74, 101, 210);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.deleteitem
{
  height:100px;
  width: 100px;
  background-color: black;
}




.details {
  background: rgb(74, 101, 210);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  transition: transform 0.3s;
  color:white;
}

.details:hover {
  transform: translateY(-10px);
}

/* Başlık stili */
.details h3 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.details h3::after {
  content: '';
  display: block;
  width: 80%;
  height: 2px;
  background: #2c3e50;
  margin: 10px auto;
}

/* Paragraf stili */
.details p {
  margin: 15px 0;
  color: #ced6d6;
  font-size: 16px;
}
